In [ ]:
# pd.concat을 연습을 많이 해야 합니다.

In [2]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2'],
    'C': ['C0', 'C1', 'C2'],
    'D': ['D0', 'D1', 'D2']},
    index=[0, 1, 2])

df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
    'B': ['B3', 'B4', 'B5'],
    'C': ['C3', 'C4', 'C5'],
    'D': ['D3', 'D4', 'D5']},
    index=[3, 4, 5])

In [3]:
# 단순하게 합칠 때는 pd.concat
df12a0 = pd.concat([df1, df2])
# df12a0 = pd.concat([df1, df2], axis=0) # 이것도 동일

In [4]:
df12a0

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5

In [5]:
df3 = pd.DataFrame({'E': ['A6', 'A7', 'A8'],
    'F': ['B6', 'B7', 'B8'],
    'G': ['C6', 'C7', 'C8'],
    'H': ['D6', 'D7', 'D8']},
    index=[0, 1, 2])


df4 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
     'B': ['B0', 'B1', 'B2'],
     'C': ['C0', 'C1', 'C2'],
     'E': ['E0', 'E1', 'E2']},
     index=[0, 1, 3])

In [10]:
pd.concat([df1, df3]) # 이렇게 하면 이상하게 나옴. axis=0으로 합쳐짐

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     A    B    C    D    E    F    G    H
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   A6   B6   C6   D6
1  NaN  NaN  NaN  NaN   A7   B7   C7   D7
2  NaN  NaN  NaN  NaN   A8   B8   C8   D8

In [12]:
df13a1 = pd.concat([df1, df3], axis=1)

In [13]:
# outer join -> 합집합
pd.concat([df1, df4])

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

    A   B   C    D    E
0  A0  B0  C0   D0  NaN
1  A1  B1  C1   D1  NaN
2  A2  B2  C2   D2  NaN
0  A0  B0  C0  NaN   E0
1  A1  B1  C1  NaN   E1
3  A2  B2  C2  NaN   E2

In [ ]:
df14o = pd.concat([df1, df4]) # join을 안 쓰면 default가 outer임. outer join은 합집합

In [14]:
df14i = pd.concat([df1, df4], join='inner') # inner join은 교집합

In [16]:
pd.concat([df1, df4], axis=1)

     A    B    C    D    A    B    C    E
0   A0   B0   C0   D0   A0   B0   C0   E0
1   A1   B1   C1   D1   A1   B1   C1   E1
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN   A2   B2   C2   E2

In [20]:
pd.concat([df1, df4], axis=1, join_axes=[df1.index])

    A   B   C   D    A    B    C    E
0  A0  B0  C0  D0   A0   B0   C0   E0
1  A1  B1  C1  D1   A1   B1   C1   E1
2  A2  B2  C2  D2  NaN  NaN  NaN  NaN

In [21]:
df5 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
     'B': ['B0', 'B1', 'B2'],
     'C': ['C0', 'C1', 'C2'],
     'D': ['D0', 'D1', 'D2']},
     index=['r0', 'r1', 'r2'])


df6 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
     'B': ['B3', 'B4', 'B5'],
     'C': ['C3', 'C4', 'C5'],
     'D': ['D3', 'D4', 'D5']},
     index=['r3', 'r4', 'r5'])

In [22]:
pd.concat([df5, df6], ignore_index=True) # 행 인덱스를 무시함. index가 띄엄띄엄 있을 때 이 것을 사용함. 자주 사용됨.!!

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5

In [27]:
# 계층적 index를 구성할 때 keys를 사용함
df56wk = pd.concat([df5, df6], keys=['df5', 'df6'])
df56wk

         A   B   C   D
df5 r0  A0  B0  C0  D0
    r1  A1  B1  C1  D1
    r2  A2  B2  C2  D2
df6 r3  A3  B3  C3  D3
    r4  A4  B4  C4  D4
    r5  A5  B5  C5  D5

In [31]:
df56wk.ix['df5'][0:2] # df5에서 0, 1행을 선택

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

     A   B   C   D
r0  A0  B0  C0  D0
r1  A1  B1  C1  D1

In [32]:
pd.concat([df5, df6])

     A   B   C   D
r0  A0  B0  C0  D0
r1  A1  B1  C1  D1
r2  A2  B2  C2  D2
r3  A3  B3  C3  D3
r4  A4  B4  C4  D4
r5  A5  B5  C5  D5

In [34]:
pd.concat([df5, df6], keys=['df5', 'df6'], names=['dfname', 'rownum']) # key들에 대한 이름을 짓기

                A   B   C   D
dfname rownum
df5    r0      A0  B0  C0  D0
       r1      A1  B1  C1  D1
       r2      A2  B2  C2  D2
df6    r3      A3  B3  C3  D3
       r4      A4  B4  C4  D4
       r5      A5  B5  C5  D5

In [35]:
df7 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
     'B': ['B0', 'B1', 'B2'],
     'C': ['C0', 'C1', 'C2'],
     'D': ['D0', 'D1', 'D2']},
     index=['r0', 'r1', 'r2'])

df8 = pd.DataFrame({'A': ['A2', 'A3', 'A4'],
     'B': ['B2', 'B3', 'B4'],
     'C': ['C2', 'C3', 'C4'],
     'D': ['D2', 'D3', 'D4']},
     index=['r2', 'r3', 'r4'])

In [41]:
pd.concat([df7, df8], verify_integrity=True) # 이렇게 하면 row index가 중복되기 때문에 오류가 남

ValueError: Indexes have overlapping values: Index(['r2'], dtype='object')

In [82]:
ser = pd.Series(['s1','s2', 's3'])
ser

0    s1
1    s2
2    s3
dtype: object

In [93]:
df1none = pd.concat([df1], ignore_index=True)

In [94]:
pd.concat([df1none, ser], axis=1)

   c0  c1  c2  c3   0
0   0   1   2   3  s1
1   4   5   6   7  s2
2   8   9  10  11  s3

In [88]:
s1 = pd.Series([3,4,5])
s2 = pd.Series([3,4,5])
s3 = pd.Series([3,4,5])

In [89]:
pd.concat([s1, s2, s3], axis=1)

   0  1  2
0  3  3  3
1  4  4  4
2  5  5  5

# merge함수

In [ ]:
# merge함수: how(left, right, inner, outer), on

In [45]:
dfleft = pd.DataFrame({'KEY': ['K0', 'K1', 'K2', 'K3'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']})


dfright = pd.DataFrame({'KEY': ['K2', 'K3', 'K4', 'K5'],
    'C': ['C2', 'C3', 'C4', 'C5'],
    'D': ['D2', 'D3', 'D4', 'D5']})

In [46]:
pd.merge(dfleft, dfright) # inner join은 key를 기준으로 교집합을 구하는 것.

  KEY   A   B   C   D
0  K2  A2  B2  C2  D2
1  K3  A3  B3  C3  D3

In [47]:
pd.merge(dfleft, dfright, on='KEY', how='left')

  KEY   A   B    C    D
0  K0  A0  B0  NaN  NaN
1  K1  A1  B1  NaN  NaN
2  K2  A2  B2   C2   D2
3  K3  A3  B3   C3   D3

In [48]:
pd.merge(dfleft, dfright, on='KEY', how='inner') # 얘가 default임

  KEY   A   B   C   D
0  K2  A2  B2  C2  D2
1  K3  A3  B3  C3  D3

In [49]:
pd.merge(dfleft, dfright, on='KEY', how='outer') # 키를 기준으로 합집합이 됨

  KEY    A    B    C    D
0  K0   A0   B0  NaN  NaN
1  K1   A1   B1  NaN  NaN
2  K2   A2   B2   C2   D2
3  K3   A3   B3   C3   D3
4  K4  NaN  NaN   C4   D4
5  K5  NaN  NaN   C5   D5

In [52]:
pd.merge(dfleft, dfright, left_index=True, right_index=True)

  KEY_x   A   B KEY_y   C   D
0    K0  A0  B0    K2  C2  D2
1    K1  A1  B1    K3  C3  D3
2    K2  A2  B2    K4  C4  D4
3    K3  A3  B3    K5  C5  D5

In [53]:
pd.merge(dfleft, dfright, left_index=True, right_index=True)

  KEY_x   A   B KEY_y   C   D
0    K0  A0  B0    K2  C2  D2
1    K1  A1  B1    K3  C3  D3
2    K2  A2  B2    K4  C4  D4
3    K3  A3  B3    K5  C5  D5

In [ ]:
# join이라는 함수로도 merge와 똑같은 결과를 만들어 낼 수 있는데
# dfleft.join() 이렇게 하면, 간단하게 쓸 수 있음
# merge로 하면, 좀 더 명시적으로 볼 수 있음.

In [54]:
dfleft.join(dfright, how='left')

ValueError: columns overlap but no suffix specified: Index(['KEY'], dtype='object')

In [56]:
dfa = pd.merge(dfleft, dfright, on='KEY', how='outer')

In [57]:
dfa

  KEY    A    B    C    D
0  K0   A0   B0  NaN  NaN
1  K1   A1   B1  NaN  NaN
2  K2   A2   B2   C2   D2
3  K3   A3   B3   C3   D3
4  K4  NaN  NaN   C4   D4
5  K5  NaN  NaN   C5   D5

In [ ]:
# isnull의 반환결과는 T/F로 나옴

In [59]:
pd.isnull(dfa)
dfa.isnull() # 같은 결과가 반환 됨

     KEY      A      B      C      D
0  False  False  False   True   True
1  False  False  False   True   True
2  False  False  False  False  False
3  False  False  False  False  False
4  False   True   True  False  False
5  False   True   True  False  False

In [60]:
pd.notnull(dfa) # null이 아니냐?

    KEY      A      B      C      D
0  True   True   True  False  False
1  True   True   True  False  False
2  True   True   True   True   True
3  True   True   True   True   True
4  True  False  False   True   True
5  True  False  False   True   True

In [ ]:
dfleft = pd.DataFrame({'KEY': ['K0', 'K1', 'K2', 'K3'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': [1.1, 2.2, 3.3, 4.4]})

In [63]:
dfa.ix[[0, 1], ['A','B']] # 특정한 행과 열에 대한 참조

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

    A   B
0  A0  B0
1  A1  B1

In [64]:
dfa.ix[[0, 1], ['A','B']] = None # Null 값을 나타내는 예약어

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [65]:
dfa # None과 NaN 두개가 있는데, 문자인 경우에는 None으로 들어가고, 숫자는 NaN으로 들어감
# NaN이 값에 들어가 있으면, 데이터가 숫자일까 문자일까 고민하게 되기 때문에,
# NaN과 None은 다르게 표시가 됨

  KEY     A     B    C    D
0  K0  None  None  NaN  NaN
1  K1  None  None  NaN  NaN
2  K2    A2    B2   C2   D2
3  K3    A3    B3   C3   D3
4  K4   NaN   NaN   C4   D4
5  K5   NaN   NaN   C5   D5

In [66]:
dfa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 5
Data columns (total 5 columns):
KEY    6 non-null object
A      2 non-null object
B      2 non-null object
C      4 non-null object
D      4 non-null object
dtypes: object(5)
memory usage: 296.0+ bytes

In [67]:
dfa.isnull().sum() # 각각의 컬럼별로 null이 몇 개인지. 많이 쓰이는 구문

KEY    0
A      4
B      4
C      2
D      2
dtype: int64

In [68]:
dfa['A'].isnull().sum() # 이렇게 열 하나에 대해서만 계산할 수도 있음

4

In [69]:
dfa.isnull().sum(1) # axis를 말하는 것임

0    4
1    4
2    0
3    0
4    2
5    2
dtype: int64

In [70]:
dfa['NaN_Num'] = dfa.isnull().sum(1) # NaN_Num은 파생변수임

In [72]:
df = pd.DataFrame(np.arange(10).reshape(5, 2),
                 columns=['c1', 'c2'],
                 index=['a', 'b','c','d','e'])

df
# b,e행 c1열에 None, b, c행 c2열 None 대입

   c1  c2
a   0   1
b   2   3
c   4   5
d   6   7
e   8   9

In [96]:
df['c1'].loc[['b', 'e']] = None

In [97]:
df

    c1  c2
a  0.0   1
b  NaN   3
c  4.0   5
d  6.0   7
e  NaN   9

In [98]:
df['c2'].loc[['b', 'c']] = None

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [99]:
df

    c1   c2
a  0.0  1.0
b  NaN  NaN
c  4.0  NaN
d  6.0  7.0
e  NaN  9.0

In [100]:
df.sum()

c1    10.0
c2    17.0
dtype: float64

In [101]:
df['c1'].sum()

10.0

In [102]:
df['c1'].cumsum()

a     0.0
b     NaN
c     4.0
d    10.0
e     NaN
Name: c1, dtype: float64

In [103]:
df.mean() # NaN은 제외

c1    3.333333
c2    5.666667
dtype: float64

In [104]:
df.std()

c1    3.055050
c2    4.163332
dtype: float64

In [105]:
df['c3'] = df['c1'] + df['c2']
# 둘 중 어느하나라도 nan이라면 결과도 NaN이 됨

In [106]:
df

    c1   c2    c3
a  0.0  1.0   1.0
b  NaN  NaN   NaN
c  4.0  NaN   NaN
d  6.0  7.0  13.0
e  NaN  9.0   NaN

In [108]:
df = pd.DataFrame(np.random.randn(5, 3),
            columns=['c1','c2','c3'])

In [112]:
df.ix[0, 0] = None
df

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

         c1        c2        c3
0       NaN -0.063100 -0.314161
1 -1.608476 -1.609094  1.456544
2 -2.124028  0.264829 -0.498544
3  0.226422 -0.598481 -0.106785
4  0.169500  0.565006 -0.504894

In [113]:
df.ix[1, ['c1', 'c3']] = np.nan
df

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [115]:
df.ix[2, 'c2'] = np.nan
df.ix[3, 'c2'] = np.nan
df.ix[4, 'c3'] = np.nan
df

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

         c1        c2        c3
0       NaN -0.063100 -0.314161
1       NaN -1.609094       NaN
2 -2.124028       NaN -0.498544
3  0.226422       NaN -0.106785
4  0.169500  0.565006       NaN

In [116]:
df.fillna(0) # na를 0으로 채웁니다.
df.fillna('missing') # missing이라는 문자열로 채웁니다.

         c1        c2        c3
0  0.000000 -0.063100 -0.314161
1  0.000000 -1.609094  0.000000
2 -2.124028  0.000000 -0.498544
3  0.226422  0.000000 -0.106785
4  0.169500  0.565006  0.000000

In [118]:
df.fillna(method='ffill', limit=1) # 하나만 더 채우도록 할 수 있음

         c1        c2        c3
0       NaN -0.063100 -0.314161
1       NaN -1.609094 -0.314161
2 -2.124028 -1.609094 -0.498544
3  0.226422       NaN -0.106785
4  0.169500  0.565006 -0.106785

In [119]:
df.fillna(df.mean()) # 평균값으로 채우기

         c1        c2        c3
0 -0.576035 -0.063100 -0.314161
1 -0.576035 -1.609094 -0.306497
2 -2.124028 -0.369063 -0.498544
3  0.226422 -0.369063 -0.106785
4  0.169500  0.565006 -0.306497

In [120]:
df.fillna(df.mean()['c1']) # c1값의 평균으로 채우기

         c1        c2        c3
0 -0.576035 -0.063100 -0.314161
1 -0.576035 -1.609094 -0.576035
2 -2.124028 -0.576035 -0.498544
3  0.226422 -0.576035 -0.106785
4  0.169500  0.565006 -0.576035

In [121]:
df2 = pd.DataFrame({'a1':[1,2,3,4,5],
                   'a2':[10.0, 11.0, 12.0, 13.0, 14.0]})

In [125]:
df2.ix[[1,3],['a2']] = None

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [126]:
# a3열 추가
# a3열이 NaN이면, a1열의 값으로 a3열을 채우고,
# a2열이 NaN이 아니면, a2열의 값으로 a3열을 채우세요

   a1    a2
0   1  10.0
1   2   NaN
2   3  12.0
3   4   NaN
4   5  14.0

In [140]:
df2['a3'] = np.where(pd.notnull(df2['a2']), df2['a2'], df2['a1'])

In [141]:
df2

   a1    a2    a3
0   1  10.0  10.0
1   2   NaN   2.0
2   3  12.0  12.0
3   4   NaN   4.0
4   5  14.0  14.0